<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/main.css">
    <script src="./js/vue.min.js"></script>
    <title>M5Burner</title>
</head>
<body>
    <div id="main">
        <list-firmware class="tree"></list-firmware>
        <div class="burner">
            <burner-form class="burner-form"></burner-form>
            <ternimal class="terminal"></ternimal>
        </div>
        <setting-panel class="setting-panel"></setting-panel>
    </div>
</body>
<script src="./js/main.js"></script>
</html>