<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Version</title>
</head>
<body>
    <div class="main">
        <h1>Version</h1>
        <div class="text">
            <span class="text2">Current Version:</span>
            <span class="text-version" id="current_version"></span>
        </div>
        <div class="text">
            <span class="text2">Latest Version:</span>
            <button id="btn_check" class="btn">Check Update</button>
            <span class="text-version" id="latest_version"></span>
            <button id="btn_update" class="btn">Update Now</button>
        </div>
        <div id="update_box" class="update-box">
            <p id="text_update"></p>
            <div id="progress_bar" class="progress-bar"></div>
        </div>
    </div>
</body>
<script src="./js/main.js"></script>
</html>