<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/main.css">
    <title></title>
</head>
<body>
    <div id="main">
        <h1 class="title">UIFlow Desktop IDE</h1>
        <div class="box">
            <img id="status" src="./images/warning.png" draggable="false" alt="Warning">
            <span id="tips_text">You maybe have not installed CP210x USB Driver, we will install it for you.</span>
            <div class="clear"></div>
        </div>
        <div class="bottom">
            <button id="btn_install">Install Now</button>
            <button id="btn_skip">Skip</button>
            <button id="btn_cancel">Cancel</button>
            <div class="clear"></div>
        </div>
    </div>
</body>
<script src="js/main.js"></script>
</html>